<p>tasks works!</p>
<h1>Event Registration</h1>
<label for="">Name</label>
<input type="text" [(ngModel)]="name">
<button (click)="submit()">submit</button>
<h1>registerd users</h1>
<ol>
    <li *ngFor="let name of names">{{name}}</li>
</ol>
<button (click)="delete()">delete</button><hr><hr>

<h1>student Registration</h1>
<label for="">name</label>
<input type="text" [(ngModel)]="studentname">
<label for="">age</label>
<input type="text" [(ngModel)]="studentage">
<button (click)="create()">create</button>
<h1>Total students</h1>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
        </tr>
    </tbody>
</table>


