<div class="parent">
    <div class="child1">

        <div class="My">My WebSite</div><hr>
        <button routerLink="home">Home</button><br>
        <button routerLink="welcome">welcome</button><br>
        <button routerLink="databinding">databinding</button><br>
        <button routerLink="calculator">calculator</button><br>
        <button routerLink="rectangle">rectangle</button><br>
        <button routerLink="circle">circle</button><br>
        <button routerLink="dice">dice</button><br>
        <button routerLink="directives">directives</button><br>
        <button routerLink="pipes">pipes</button><br>
        <button routerLink="tasks">tasks</button><br>
        <button routerLink="flipkart">flipkart</button><br>
        <button routerLink="Higherorder">Higherorder</button><br>
        <button routerLink="practice">practice</button><br>
        <button routerLink="vehicle">vehicle</button><br>
        <button routerLink="Bank">bank</button><br>
        <button routerLink="employee">Employee</button><br>
        <button routerLink="create-vehicle">create-vehicle</button><br>
        <button routerLink="create-bank">create-bank</button><br>
        <button routerLink="students">students</button><br>
        <button routerLink="create-user">createuser</button><br>
        <button routerLink="student-progress">studentprogress</button>
        <br>
        

        <button (click)="logout()">Logout</button>
    </div>
    <div class="child2">
        
        <router-outlet></router-outlet>

    </div>
    
</div>
