<!-- <p>students works!</p>

<div class="parent">
    <div class="top">
        <form [form Group]="student form">

        <label for="">search students</label>
        <input type="text">
        <label for="">column</label>
        <input type="text">
        <label for="">order</label>
        <input type="text">
        <input type="text">
        <button>sort</button>
        <button>paginate</button>
    
</form>
    <div class="bottom">
        <h1>List of students</h1>
        <div class="card">
            <div class="b_card" *ngFor="let student of students"></div>
        </div>
        <div class="t_card">
            <div class="top b_card"></div>
            <h2>school logo <img src="" alt=""></h2>
            <label for="">school name</label><br>
        </div>
        <div class="m_card">
            <label for="">name:</label><br>
            <label for="">DOB:</label>
            <label for="">city:</label>
            <label for="">Email:</label><br>
            <h2>profile picture: <img src="" alt=""></h2><br>

        </div>
        <div class="bm_card">
            <label for="">school city:</label>
            <label for="">school pin:</label>
            <br>
            <button>view</button>
            <button>edit</button>
            <button >Delete</button>
        </div>
    </div>
</div> -->
